.deleteButton {
    background: black !important;
    color: white !important;;
    font-weight: bold !important;
    clip-path: polygon(0 36%, 100% 0, 100% 76%, 0 100%);
}

.floatRight {
    float: right;
}

.settingsBar {
    box-shadow: -1px -2px 6px 5px;
    background: linear-gradient(45deg, #bf3351 30%, #7253ff 90%);
    width: 100%
}
