.listOfDecks {
    width: 100%;
    overflow: auto;
    height: 13em;
}

.userPaper {
    padding: 2em;
    margin: 0 auto 1em;
    max-width: 800px;
}

.imageHolderAva {
    position: relative;
    width: 13em;
    height: 13em;
    overflow: hidden;
}

.imageHolderAva img {
    position: relative;
    width: 13em;
    height: auto;
    cursor: pointer;
}

.deckSelectButton {
    border: 0;
    width: 100%;
    background: 0;
}

.deckSelectButton li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.image-upload>input {
    display: none;
}

.fontSize20{
    font-size: 20px;
}

.fontSize10{
    font-size: 10px;
}

.fontSize15{
    font-size: 15px;
}