
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.betterFont {
    font-size: 1.75em;
    line-height: 1.1em;
    letter-spacing: 3px;
}

.mainPaperCreate {
    padding: 8px 54px !important;
}

.formControlCreate {
    margin-top: 1em;
    min-width: 120px;

    padding-right: 40px !important;
}

.centerField {
    display: table !important;
    margin: 0 auto !important;
}

.wrapperCreate > .MuiDialog-container > .MuiPaper-root {
    background: linear-gradient(124deg, #00e0ff6e, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}