.listOfDecks {
    width: 100%;
    overflow: auto;
    height: 13em;
}


/* For the "inset" look only */
html {
    overflow: auto;
}


::-webkit-scrollbar-track {
    background-color: #858585;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e7e6e6;
}
